@using DocusignWebMVC.Models;
@{
    ViewBag.Title = "Home Page";
    var loggedInUser = @User.Identity.Name;

}
@model ClientViewModel
<div class="jumbotron">

</div>



<a class="btn btn-success" value="Create" onclick="location.href='@Url.Action("GetClients", "Home")'">test</a>


<br />
<br />

@*@using (Html.BeginForm("Report", "Home"))
    {
        <input type="text" id="ss" name="qty" value="@Model.TemplateId" />


    }*@

@using (Html.BeginForm("SendDocs", "Home", FormMethod.Post))
{
   
<div class="form-group form-inline" >
    <label for="templateId"> Template Id</label>
    <input type="text" id="templateId" class="form-control">

        <button class="btn btn-primary" type="button">Send Documents</button>

</div>
    @*<div class="input-group">
            <div class="form-group">
                <label for="templateId"> Template Id</label>
                <input class="form-control" type="text" id="templateId" name="templateId" />
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>*@
}
